pydantic
# LangChain Core
langchain
langchain-core
langchain-community

# OpenAI Integration
langchain-openai
openai

# Anthropic Integration
langchain-anthropic

# Google Gemini (PaLM) Integration
langchain-google-genai
google-generativeai
langchain_google_genai

#groq Integration
langchain-groq
groq

# Hugging Face Integration
langchain-huggingface
transformers
huggingface-hub
sentence-transformers

# Environment Variable Management
python-dotenv

# Machine Learning Utilities
numpy
scikit-learn

#streamlit ui
streamlit

#libraies
pypdf

# document loaders
bs4
arxiv
pymupdf
wikipedia

#splitters
langchain-text-splitters

#vector store
faiss-cpu
langchain-pinecone

pinecone



langchain-community
faiss-cpu
langchain_google_genai
pypdf
langchain 
langchain-pinecone
weaviate-client
langchain_weaviate
wikipedia
langgraph
chromadb
yfinance
duckduckgo_search

#AUCTOGEN
autogen-agentchat
autogen-core
autogen-ext